/* general style */

:root { 
  --clr-primary-grey1: #333;
  --clr-primary-grey2: #666;
  --clr-primary-grey3: #d4d4d4;
  --clr-primary-white: #fff;
  --clr-primary-blue: #0F367C;
  --clr-primary-dark-blue: #0b275c;
  
  --clr-font-blue: #0F367C;
  --clr-font-grey: #333;
  --clr-font-light-grey: #666;
  --clr-font-white: #fff;

  --ff-primary: 'Montserrat', sans-serif;
  --ff-accent: 'Montserrat', sans-serif;
 
  --fs-s: 16px;
  --fs-m: 20px;
  --fs-xm: 25px;
  --fs-b: 30px;
  --fs-mb: 40px;
  --fs-xb: 50px;

  --spacer-s: 5px;
  --spacer-m: 10px;
  --spacer-l: 20px;
  --spacer-xl: 40px;
}


.mainbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-primary);
}

.navbar-container {
  display: flex;
  flex-direction: column; 
  box-sizing: border-box;
  width: 100%;
  padding: var(--spacer-xl) 8% calc(var(--spacer-xl)*2) 8%; 
  background-color: var(--clr-primary-blue);
}

.navbar {
  display: flex;
  align-items: center;
  color: var(--clr-primary-white);
  font-size: var(--fs-m);
}

.website-logo {
  flex-grow: 1;
}

.nav-item {
  font-size: var(--fs-m);
  color: var(--clr-primary-white);
  margin: 0 var(--spacer-l);
  text-decoration: none;
}

.avatar-container {
  display: flex;
}

.avatar {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: var(--clr-primary-white);
}

.username {
  margin-left: var(--spacer-s);
}

.subtitle {
  font-size: var(--fs-b);
  color: var(--clr-font-white);
  margin-top: calc(var(--spacer-xl) * 3);
  margin-bottom: calc(var(--spacer-xl) * 1.5);
}

.search-bar-container {
  display: flex;
  flex-direction: column;
}

.search-menu {
  display: flex;
  align-items: center;
  height: 60px;
  font-size: var(--fs-m);
  color: var(--clr-primary-white);
  margin-bottom: var(--spacer-s);
}

.search-item {
  margin: var(--spacer-m) var(--spacer-xl) var(--spacer-m) 0;
  font-size: var(--fs-m);
  color: var(--clr-primary-white);
  text-decoration: none;
}

.selected-item {
  font-weight: bold;
  text-decoration: solid underline 3px;
}

.drop-down-menu {
  position: relative;
  padding-left: calc(var(--spacer-l) + var(--spacer-s));
}

.drop-down-menu::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 6px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--clr-primary-white);
}

.search-bar {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: var(--spacer-m);
  border-radius: 10px;
  box-sizing: border-box;
  font-size: var(--fs-m);
  background-color: var(--clr-primary-white);
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 20%);
} 

.typebox {
  height: 60px;
  width: 35%;
  padding: var(--spacer-m);
  flex-grow: 1;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: var(--fs-m);
  color: var(--clr-font-grey);
  background-color: var(--clr-primary-white);
}

.search-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 80px;
  color: var(--clr-font-grey);
}

.calender-container {
  width: 22%;
  position: relative;
}

.calender-logo {
  height: 20px;
  width: 20px;
  margin-right: var(--spacer-m);
}

.calender-container::before {
  content: "";
  width: 1px;
  height: 40px;
  background-color: var(--clr-primary-grey1);
  position: absolute;
  top: 20px;
  left: -10px;
}

.guest-container {
  width: 16%;
  position: relative;
}

.guest-logo {
  height: 18px;
  width: 20px;
  margin-right: var(--spacer-m);
}

.guest-container::before {
  content: "";
  width: 1px;
  height: 40px;
  background-color: var(--clr-primary-grey1);
  position: absolute;
  top: 20px;
  left: 10px;
}

.search-button {
  width: 200px; 
  height: 60px;
  border-radius: 5px;
  border: none;
  color: var(--clr-font-white);
  background-color: var(--clr-primary-blue);
  font-size: var(--fs-m);
}

.search-button:hover {
  background-color: var(--clr-primary-dark-blue);
}

.section-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 85%;
  margin-top: var(--spacer-xl); 
}

.section-title { 
  font-weight: 500; 
  font-size: var(--fs-m);                           
  color: var(--clr-font-grey);
  margin-bottom: var(--spacer-l);
}


/* photo-gallery */
.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.recently-reviewed-gallery-grid {
  width: 25%;
  margin-bottom: var(--spacer-m);
  padding: var(--spacer-m);
  box-sizing: border-box;
}

.hotel-profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 20%);
}

.hotel-card-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: var(--spacer-s);
  border-radius: 10px 10px 10px 0;
  box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 30%);
  background-color: var(--clr-primary-white);
  position: absolute;
  top: -15px;
  left: 15px;
}

.hotel-like-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
}

.hotel-rating {
  font-size: var(--fs-m);
  color: var(--clr-font-blue);
  font-weight: 600;
}

.hotel-tag-divider {
  background-color: var(--clr-primary-grey2);
  height: 1px;
  width: 100%;
}

.hotel-rating-num {
  color: var(--clr-font-grey);
  font-weight: 400;
}

.hotel-image {
  display: block;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.hotel-description-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--spacer-l);
  border-radius: 10px;
  background-color: var(--clr-primary-white);
  box-sizing: border-box;
  margin-top: -10px;
}

.hotel-name-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacer-l);
}

.hotel-name {
  font-weight: 500;
  font-size: var(--fs-s);
  color: var(--clr-font-grey);
}

.hotel-price {
  margin-left: auto;
  font-weight: 600;
  font-size: var(--fs-m);
}

.hotel-address-container {
  display: flex;
}

.hotel-address {
  font-weight: 300;
  font-size: var(--fs-s);
  margin-left: var(--spacer-s);
  color: var(--clr-font-grey);
}


/* suggested-stays-gallery */
.suggested-stays-gallery-grid {
  width: 50%;
  margin-bottom: var(--spacer-m);
  padding: var(--spacer-m);
  box-sizing: border-box;
}

.suggested-stay-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.suggested-stay-image {
  display: block;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 20%);
}

.suggested-stay-card-title {
  margin-left: var(--spacer-l);
  color: var(--clr-font-white);
  font-size: var(--fs-m);
  font-weight: 500;
  text-shadow: var(--clr-font-grey) 1px 2px;
  position: absolute;
  top: 40%;
  width: 200px;
}

.suggested-stay-card-subtitle {
  margin-left: var(--spacer-l);
  margin-bottom: var(--spacer-s);
  color: var(--clr-font-white);
  font-size: var(--fs-s);
  font-weight: 300;
  text-shadow: var(--clr-font-grey) 1px 1px;
  position: absolute;
  top: 28%;
  width: 200px;
}


/* suggested-flights-gallery */
.suggested-flights-gallery-grid {
  display: flex;
  width: 25%;
  padding: var(--spacer-m);
  box-sizing: border-box;
  margin-bottom: var(--spacer-m);
}

.suggested-flight-card {
  width: 100%;
  padding: var(--spacer-l);
  box-sizing: border-box;
  display: flex;
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--clr-primary-grey3);
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 20%);
  background-color: var(--clr-primary-white);
}

.flight-icon-container {
  display: flex;
  align-items: center;
}

.flight-info-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: var(--spacer-l);
}

.flight-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icon-like {
  width: 25px;
  margin-bottom: auto;
}

.flight-price {
  font-size: var(--fs-m);
  font-family: var(--ff-primary);
  font-weight: 600;
}

.flight-time {
  font-weight: 600;
  margin-bottom: var(--spacer-s);
}

.flight-span {
  font-weight: 300;
  margin-bottom: var(--spacer-s);
}

.flight-location {
  font-weight: 300;
  margin-bottom: var(--spacer-l);
}

.flight-type {
  font-weight: 300;
}


/* suggested-cars-gallery */
.suggested-cars-gallery-grid {
  width: 25%;
  box-sizing: border-box;
  padding: var(--spacer-m);
  margin-bottom: var(--spacer-m);
}

.suggested-car-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-white);
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 20%);
  border: 1px solid var(--clr-primary-grey3);
  border-radius: 10px;
  position: relative;
  padding: var(--spacer-xl);
  box-sizing: border-box;
}

.car-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.car-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggested-car-card-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: var(--spacer-s);
  border-radius: 10px 10px 10px 0;
  box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 30%);
  background-color: var(--clr-primary-white);
  position: absolute;
  top: -15px;
  left: 15px;
}

.car-tag-divider {
  background-color: var(--clr-primary-grey2);
  height: 1px;
  width: 100%;
}

.car-rating {
  font-size: var(--fs-m);
  color: var(--clr-font-blue);
  font-weight: 600;
}

.car-rating-num {
  color: var(--clr-font-grey);
  font-weight: 300;
}

.car-image {
  margin: var(--spacer-xl) 0;
}

.car-name {
  font-weight: 500;
  margin-bottom: var(--spacer-m);
}

.car-info-item {
  margin-right: var(--spacer-l);
}

.user-num-container,
.luggage-num-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-price {
  font-weight: 600;
  font-size: var(--fs-m);
  margin-right: 0;
}

.icon-user,
.icon-luggage {
  margin-right: var(--spacer-s);
}

.car-card-like-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}


/* view-more-button */
.view-more-button {
  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: var(--spacer-l);
  margin-top: var(--spacer-m);
  border-radius: 5px;
  border: 1px solid var(--clr-primary-blue); 
  color: var(--clr-font-blue);
  background-color: var(--clr-primary-white);
}


/* footer */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: var(--spacer-xl) 0;
  width: 100%;
}

.divider {
  height: 1px;
  background-color: var(--clr-primary-grey2);
}

.footer-bottom {
  text-align: center;
  margin-top: var(--spacer-l);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: var(--spacer-xl);
}

.footer-logo {
  margin-left: calc(var(--spacer-xl) * 2);
}

.footer-item {
  margin: var(--spacer-xl);
}

.footer-menu-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.footer-menu-grid {
  width: 25%;
  min-width: 200px;
  padding: var(--spacer-l);
  box-sizing: border-box;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-menu-subtitle {
  font-size: var(--fs-m);
  font-weight: 500;
  margin-bottom: var(--spacer-s);
}

.footer-menu-item {
  font-weight: 200;
}



/*media-query*/
@media (max-width: 1300px) {
  .subtitle, 
  .search-menu, 
  .calender-container, 
  .guest-container {
    display: none;
  } 

  .search-bar-container {
    margin-top: var(--spacer-xl);
  }

  .recently-reviewed-gallery-grid, 
  .suggested-flights-gallery-grid, 
  .suggested-cars-gallery-grid {
    width: 33%;
    margin-bottom: var(--spacer-l);
  }

  .footer {
    justify-content: space-between;
  }

  .footer-menu-container {
    width: 60%;
  }  
}


@media (max-width: 900px) {
  .navbar-container {
    padding-top: var(--spacer-xl);
    padding-bottom: var(--spacer-xl);
  }

  .navbar {
    display: none;
  } 

  .search-bar-container {
    width: 100%;
    margin-top: 0;
  }

  .recently-reviewed-gallery-grid, 
  .suggested-flights-gallery-grid, 
  .suggested-cars-gallery-grid {
    width: 50%;
  }

  .suggested-stays-gallery-grid {
    width: 100%;
  }

  .flight-info-container {
    margin-left: var(--spacer-l);
  }

  .footer-logo {
    display: none;
  }

  .footer-menu-container {
    width: 100%;
    justify-content: center;
  }

  .footer-menu-grid {
    width: 40%;
  }
} 


@media (max-width: 600px) {
  .search-button {
    width: 120px;
    font-size: var(--fs-s);
  }

  .recently-reviewed-gallery-grid,
  .suggested-cars-gallery-grid {
    width: 100%;
    margin-bottom: var(--spacer-l);
  }

  .suggested-flights-gallery-grid {
    width: 100%;
    margin-bottom: var(--spacer-m);
  }

  .hotel-card-tag {
    font-size: var(--fs-m);
  }

  .hotel-name {
    font-size: var(--fs-m);
  }

  .hotel-price {
    font-size: var(--fs-xm);
  }

  .suggested-stay-card-title {
    font-size: var(--fs-s);
  }

  .car-image {
    width: 70%;
  }
  
  .car-name,
  .car-info-container {
    font-size: var(--fs-m);
  }

  .suggested-car-card-tag {
    padding: var(--spacer-m);
  }

  .hotel-like-icon {
    width: 40px;
  }
}


